<h1>My Blogs</h1>

<% @blogs.each do |blog| %>
  <h2><%= blog.title %></h2>
    
  <p><%= blog.body %></p>

  <%= link_to 'Edit', edit_blog_path(blog.id) %>
  <%= link_to 'Delete', destroy_blog_path(blog.id), method: :delete, data: { confirm: 'Are you sure you want to delete this blog?' } %>
<% end %>

<h3>Create a Blog</h3>

<%= form_with(model: @blog, url: blogs_path) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title, name: 'blog[title]' %>
  </div>

  <div>
    <%= form.label :body %>
    <%= form.text_area :body, name: 'blog[body]' %>
  </div>

  <div>
    <%= form.submit "Create Blog", name: 'commit' %>
  </div>
<% end %>