<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <% if current_user && user_signed_in? %>
        <%= link_to 'My Blogs', my_blogs_path %>
        <%= link_to 'All Blogs', blogs_path %>
        <%= link_to 'Signout', signout_path,method: :delete %>
      <% else %>
        <%= link_to 'Signup',signup_path %>
        <%= link_to 'Signin', signin_path %>
      <% end %>
      <% flash.each do |key, value| %>
        <div class="<%= key %>"><%= value %></div>
      <% end %>
    </nav>
    <%= yield %>
  
  </body>
</html>
